body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header, footer{
    background-color: #404040;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

h1{
    font-size: large;
}
p{
    font-size: small;
}
main{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #f2f2f2;
    height: 100vh;
}

.conversor{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #ffffff;
    margin-top: 20%;
    padding: 20px 10px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

input{
    padding: 5px 100px 5px 5px;
}

button{
    padding: 5px;
    background-color: #404040;
    color: #ffffff;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0,3s;
}

button:hover{
    background-color: #a6a6a6;
    color: #404040;
}